---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>卢卡·莫德里奇</b>是一位著名的克罗地亚职业足球运动员，出生于1985年9月9日，是皇家马德里足球俱乐部和克罗地亚国家足球队的核心球员。莫德里奇以其卓越的技术、出色的视野和控球能力而闻名，被认为是世界上最优秀的中场球员之一。莫德里奇的职业生涯充满了辉煌成就，他曾获得金球奖、世界足球先生、欧洲足联最佳球员等个人最高荣誉。他的球技和职业态度赢得了全球足球迷的尊敬。。 
    </p>
    <p>
        <b>Luka Modric</b>is a famous Croatian professional footballer, born on September 9, 1985, who is a key player for Real Madrid Football Club and the Croatian national football team. Modric is known for his technical excellence, excellent vision and ball control and is considered one of the best midfielders in the world. Modric's career is full of brilliant achievements, he has won the Ballon d 'Or, World Player of the Year, UEFA Best player and other personal highest honors. His skills and professional attitude have earned him the respect of football fans around the world..
    </p>
</div>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.41.0/gradio.js"
></script>

<gradio-app src="https://zhangbin0922-zhangbin.hf.space" theme_mode="light"></gradio-app>
<gradio-app src="https://zhangbin0922-zhangbin-cpu.hf.space" theme_mode="light"></gradio-app>



<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
